
body{
    font-family: 'Nunito';
}
.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.divImg1{
    height: 550px;
    width: 100%;

}

.conteiner{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.text1{
    width:  36.603221083455345vw;


}

.img1{
    object-fit: cover;
    height: 500px;
    width: 50%;
}

.conteiner2{
    
    height: 700px;
    width: 100%;
    background-image: url(../../../../assets/img/img6.jpg);
    background-size: cover;
    opacity: 90%;
    background-attachment: fixed;

}

h2{
    font-weight: bolder;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 50%;
    background-color: #eaeced;

}

.conteiner2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.conteiner2-card{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}


.conteiner2-card img{
    object-fit: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.conteiner2-card img:hover{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.conteinerText{
    margin-bottom: 80px;
    height: 40px;
}


.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    

}

.cards p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -40px;
}

.cargo{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 15px;    

}

.footer{
display: flex;
flex-direction: column;
background-color: #5b6359;
height: 300px;
align-items: center;
justify-content: center;
}

.conteinerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

.logoFooter{
    height: 90px;
    width: 210px;
    padding-bottom: 10px;
   
    

}

.rotas{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding-bottom: 10px;
    margin-top: 13px;
    
    
    
}
.rotas a {
        color: rgb(255, 255, 255);
        text-decoration: none;
}      
       
.rotas  a:hover {
        color: rgb(223, 186, 21);
        text-decoration: none;

       }


.social{
    display: flex;
    flex-direction: row;
    filter: invert(100%);
    justify-content: space-evenly;
    

}