<mat-grid-list  cols="1" rowHeight="950px">
 <mat-grid-tile *ngIf="diario$ | async as diario; else loading">
    <mat-card class="diariosList-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
        <mat-card-subtitle>{{ diario.usuarioNick }}</mat-card-subtitle>
      </mat-card-header>
      <img class="img-card" mat-card-image [src]="diario.imagem" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <h2>{{ diario.titulo }}</h2>
        <small style="color: #999;">{{ diario.data | date }} | {{ diario.local }}</small>
        <p>{{ diario.corpo }}</p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>

<ng-template #loading>
  <app-loader label="Carregando diário..."></app-loader>
</ng-template>